@import '../../../assets/scss/base/variables';
@import '../../../assets/scss/base/placeholders';

.ordered-pizza {
  align-items: flex-start;
}

.pizza-details {
  display: flex;
  width: 100%;
  align-items: flex-start;
}