$colors: (
        base: #fff,
        accent-dark: #000,
        accent-bright: red,
);

$font-colors: (
        base: #000,
        accent-dark-inverse: #fff,
        error: red,
);

$offsets: (
        sm: 10px,
        md: 15px,
        lg: 30px,
);

$border-sizes: (
        sm: 4px,
        md: 6px,
        lg: 20px,
);

$transition-time: (
        hover: 0.2s,
);

$base-control-height: 40px;

$footer-height: 40px;
