@import '../../assets/scss/base/variables';
@import '../../assets/scss/base/placeholders';

.header {
  padding: map-get($offsets, md) 0 map-get($offsets, sm) 0;
  margin-bottom: map-get($offsets, lg);
  border-bottom: map-get($border-sizes, lg) solid map-get($colors, accent-dark);

  &-content {
    @extend %flex-space-between;

    position: relative;
  }

  .nav {
    display: flex;

    &-list {
      display: flex;

      &-item {
        &:not(:first-child) {
          margin-left: map-get($offsets, md);
        }
      }
    }

    &-link {
      @extend %accent-font-style-md;

      padding: 0;
      transition: color ease map-get($transition-time, hover);

      &:hover,
      &:active {
        color: map-get($colors, accent-bright);
      }
    }
  }
}

.currency-switch {
  @extend %accent-font-style-md;

  position: absolute;
  top: 0;
  right: 0;

  .disabled {
    color: red;
    text-decoration: none;
    pointer-events: none;
  }
}

.nav-link.cart-link {
  position: relative;
  display: flex;
}

.cart-qty {
  height: 15px;
  width: 15px;
  margin-top: 2px;
  margin-left: 4px;
  font-size: 9px;
  line-height: 15px;
  text-align: center;
  color: map-get($font-colors, accent-bright-inverse);
  background: map-get($colors, accent-bright);
  border-radius: 50%;
}